TS_AUTHKEY=tskey-auth-your-key-here
NEXTAUTH_SECRET=super_random_string    # openssl rand -base64 36
MEILI_MASTER_KEY=another_random_string # openssl rand -base64 36 | tr -dc 'A-Za-z0-9'
OPENAI_API_KEY=your-openai-api-key-here
WEBHOOK_TOKEN=super_random_webhook_token # openssl rand -base64 36
KARAKEEP_API_TOKEN=api_key_from_karakeep_settings
